<div class="box-img-perfil">
    <img class="img-perfil" src="imagens/perfil.png" />
</div>

<div class="nome-perfil">Gustavo Ferreira</div>

<div class="texto-perfil">Analista de Sistemas / Dev Full Stack</div>

<div class="ico-links">
    <a class="links" href="#"><i class="bi bi-github"></i></a>
    <a class="links" href="#"><i class="bi bi-instagram"></i></a>
    <a class="links" href="#"><i class="bi bi-twitter-x"></i></a>
</div>