@inherits LayoutComponentBase

<div class="box">

    <div class="box-menu">
        <NavMenu />
    </div>

    <main class="box-conteudo">
        @Body
    </main>

    <footer class="box-rodape">
        <Rodape />
    </footer>

</div>

@* <div id="blazor-error-ui">
    Ocorreu um erro não tratado.
    <a href="" class="reload">Recarregar</a>
    <a class="dismiss">🗙</a>
</div> *@
