@page "/"
@using guslinks.Componentes

<HeaderGusApp />

<a class="links" href="#"><div class="bt-links">Gostaria de ter um site como este, para publicar os seus contatos e links?</div></a>
<a class="links" href="#"><div class="bt-links">1 - Cadastre-se de graça</div></a>
<a class="links" href="#"><div class="bt-links">2 - Valide o seu cadastro pelo link enviado por e-mail</div></a>
<a class="links" href="#"><div class="bt-links">3 - Acesse o painel e personalize o seu Gus App</div></a>
<a class="links" href="#"><div class="bt-links">4 - Divulgue para os seus amigos!</div></a>