@page "/"

<img class="img-perfil" src="imagens/perfil.png" />

<a class="links" href="#"><div class="bt-links">Link 1</div></a>
<a class="links" href="#"><div class="bt-links">Link 2</div></a>
<a class="links" href="#"><div class="bt-links">Link 3</div></a>
<a class="links" href="#"><div class="bt-links">Link 4</div></a>
<a class="links" href="#"><div class="bt-links">Link 5</div></a>

<div class="ico-links">
    <a class="links" href="#"><i class="bi bi-github"></i></a>
    <a class="links" href="#"><i class="bi bi-instagram"></i></a>
    <a class="links" href="#"><i class="bi bi-twitter-x"></i></a>
</div>