@page "/"

<div class="box-img-perfil">
    <img class="img-perfil" src="imagens/perfil.png" />
</div>

<div class = "nome-perfil">Gustavo Ferreira</div>

<div class = "texto-perfil">Analista de Sistemas / Dev Full Stack</div>

<div class="ico-links">
    <a class="links" href="#"><i class="bi bi-github"></i></a>
    <a class="links" href="#"><i class="bi bi-instagram"></i></a>
    <a class="links" href="#"><i class="bi bi-twitter-x"></i></a>
</div>

<a class="links" href="/gustaa"><div class="bt-links">Link Gus</div></a>
<a class="links" href="#"><div class="bt-links">Link 2</div></a>
<a class="links" href="#"><div class="bt-links">Link 3</div></a>
<a class="links" href="#"><div class="bt-links">Link 4</div></a>
<a class="links" href="#"><div class="bt-links">Link 5</div></a>