@page "/Painel"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.JSInterop
@using guslinks.Components.Services
@using guslinks.Components.Uteis
@inject TokenAuthenticationProvider authStateProvider
@inject NavigationManager Navigation
@attribute [Authorize]

<h3>Painel</h3>
<p>você está logado!</p>

<button type="button" class="cadastro-finalizar mt-3" @onclick="Sair">Sair</button>

@code {

	[Inject] public NavigationManager navigation { get; set; }
	[Inject] public IJSRuntime JSRuntime { get; set; }

	public async Task Sair()
	{
		var login = await JSRuntime.GetFromLocalStorage("t");

		await authStateProvider.Logout(login).ContinueWith((taskwithmessage) =>
		{
			navigation.NavigateTo("/");
		});
	}
}
