@page "/Verifica/{Token}"
@inherits VerificaBase;
@using guslinks.Componentes

<HeaderGusApp />

@if (carregarConteudo)
{
    @if(validado)
    {
        <div class="alert alert-success" role="alert">
            <b>Seu cadastro foi validado com sucesso!</b><br />
            O seu GusApp já disponível clicando <a href="@UrlFinal" target="_blank"><b>aqui!</b></a>
        </div>

        <div class="alert alert-warning" role="alert">
            Acesse o painel e personalize o seu Gus App, clicando <a href="/Login" target="_blank"><b>aqui</b></a>.
        </div>
    }
    else
    {
        <div class="alert alert-danger" role="alert">
            <b>@Msg</b>
        </div>
    }
}
else
{
    <div class="d-flex justify-content-center">
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
}